h2 {
	border-bottom: 1px #ccc dotted;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.form-signin, .secondary-block {
	margin: 0 auto;
	max-width: 330px;
	padding: 15px;
}
	.form-signin .form-control {
		position: relative;
		font-size: 16px;
		height: auto;
		padding: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.form-signin input[type="text"]:first-of-type {
		margin-bottom: -1px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
		.form-signin input[type="text"]{
		margin-bottom: -1px;
		border-radius: 0;
	}
	.form-signin input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	
.secondary-action {
	border-top: 1px #ccc dotted;
	display: block;
	margin: 10px 0 20px;
}
	.secondary-action span {
		position: relative;
		top: -10px;
		padding: 0 20px;
		background: white;
	}